<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Farbe</th>
            <th>Doppelseitig</th>
            <th>Umschlag</th>
            <th>Versand</th>
        </tr>
    </thead>
    <tbody>
        {% for pdf in pdf_files %}
        <tr onClick="self.openPdfSettings('{{ pdf.adler32 }}', '{{ pdf.filename }}')">
            <td>{{ pdf.filename }}</td>
            <td>{% if pdf.color %}<span class="icon icon-check"></span>{% else %}<span class="icon icon-cancel"></span>{% endif %}</td>
            <td>{% if pdf.duplex %}<span class="icon icon-check"></span>{% else %}<span class="icon icon-cancel"></span>{% endif %}</td>
            <td>{{ pdf.envelope }}</td>
            <td>{{ pdf.distribution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
